# Name:Padarthy Yagnesh Sai
# Reg.No:20BCE0625
# Labslot:L11+L12
# Question-2
2. Implement a Multi-layer perceptron model and test the model using any data set of
your choice. The output should include Accuracy, Error rate, Precision, and recall rate
along with the confusion matrix.

In [2]:
#Importing Libraries
import numpy as np
import pandas as pd
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.neural_network import MLPClassifier

In [19]:
#Loading the Data set

data=pd.read_csv('HR_comma_sep.csv')

In [5]:
#Display the first 5 rows
data.head(n=5)

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [6]:
#Shape of the dataset
shape = data.shape
print(f"The shape of the data set is {shape}")

The shape of the data set is (14999, 10)

In [7]:
 #describe() method for the dataset
    data.describe()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years
count,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000
mean,0.612834,0.716102,3.803054,201.050337,3.498233,0.144610,0.238083,0.021268
std,0.248631,0.171169,1.232592,49.943099,1.460136,0.351719,0.425924,0.144281
min,0.090000,0.360000,2.000000,96.000000,2.000000,0.000000,0.000000,0.000000
25%,0.440000,0.560000,3.000000,156.000000,3.000000,0.000000,0.000000,0.000000
50%,0.640000,0.720000,4.000000,200.000000,3.000000,0.000000,0.000000,0.000000
75%,0.820000,0.870000,5.000000,245.000000,4.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,7.000000,310.000000,10.000000,1.000000,1.000000,1.000000

In [8]:
 data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14999 entries, 0 to 14998
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   satisfaction_level     14999 non-null  float64
 1   last_evaluation        14999 non-null  float64
 2   number_project         14999 non-null  int64
 3   average_montly_hours   14999 non-null  int64
 4   time_spend_company     14999 non-null  int64
 5   Work_accident          14999 non-null  int64
 6   left                   14999 non-null  int64
 7   promotion_last_5years  14999 non-null  int64
 8   sales                  14999 non-null  object
 9   salary                 14999 non-null  object
dtypes: float64(2), int64(6), object(2)
memory usage: 1.1+ MB

In [9]:
 data.isnull().sum()

satisfaction_level       0
last_evaluation          0
number_project           0
average_montly_hours     0
time_spend_company       0
Work_accident            0
left                     0
promotion_last_5years    0
sales                    0
salary                   0
dtype: int64

In [11]:
le = preprocessing.LabelEncoder()
data['salary']=le.fit_transform(data['salary'])
data['sales']=le.fit_transform(data['sales'])

In [12]:
data.columns

Index(['satisfaction_level', 'last_evaluation', 'number_project',
       'average_montly_hours', 'time_spend_company', 'Work_accident', 'left',
       'promotion_last_5years', 'sales', 'salary'],
      dtype='object')

In [13]:
X= data[['satisfaction_level', 'last_evaluation', 'number_project',
'average_montly_hours', 'time_spend_company', 'Work_accident',
'promotion_last_5years', 'sales', 'salary']]
y=data['left']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3,random_state=41)

In [14]:
clf = MLPClassifier(hidden_layer_sizes=(6,5),
random_state=41,
verbose=True,
learning_rate_init=0.01)

In [15]:
 clf.fit(X_train,y_train)

Iteration 1, loss = 1.71396268
Iteration 2, loss = 0.58615036
Iteration 3, loss = 0.55776532
Iteration 4, loss = 0.52470408
Iteration 5, loss = 0.51285994
Iteration 6, loss = 0.49282061
Iteration 7, loss = 0.48176772
Iteration 8, loss = 0.47325185
Iteration 9, loss = 0.45146476
Iteration 10, loss = 0.44209186
Iteration 11, loss = 0.43050445
Iteration 12, loss = 0.41891580
Iteration 13, loss = 0.41362826
Iteration 14, loss = 0.40491487
Iteration 15, loss = 0.40114705
Iteration 16, loss = 0.38859058
Iteration 17, loss = 0.38937582
Iteration 18, loss = 0.37817779
Iteration 19, loss = 0.37089222
Iteration 20, loss = 0.37729563
Iteration 21, loss = 0.37283652
Iteration 22, loss = 0.38581786
Iteration 23, loss = 0.36475152
Iteration 24, loss = 0.36092957
Iteration 25, loss = 0.35583245
Iteration 26, loss = 0.35042537
Iteration 27, loss = 0.34747903
Iteration 28, loss = 0.33992995
Iteration 29, loss = 0.33842630
Iteration 30, loss = 0.33498973
Iteration 31, loss = 0.32884585
Iteration 32, loss = 0.33125023
Iteration 33, loss = 0.31803070
Iteration 34, loss = 0.33563428
Iteration 35, loss = 0.30548481
Iteration 36, loss = 0.29981045
Iteration 37, loss = 0.30677000
Iteration 38, loss = 0.29908302
Iteration 39, loss = 0.29247871
Iteration 40, loss = 0.28723774
Iteration 41, loss = 0.29271405
Iteration 42, loss = 0.27351621
Iteration 43, loss = 0.28099719
Iteration 44, loss = 0.27078715
Iteration 45, loss = 0.26901144
Iteration 46, loss = 0.26231494
Iteration 47, loss = 0.26358767
Iteration 48, loss = 0.25978986
Iteration 49, loss = 0.26210351
Iteration 50, loss = 0.26205030
Iteration 51, loss = 0.25433839
Iteration 52, loss = 0.26106058
Iteration 53, loss = 0.26065755
Iteration 54, loss = 0.25791320
Iteration 55, loss = 0.25125032
Iteration 56, loss = 0.26194904
Iteration 57, loss = 0.24945045
Iteration 58, loss = 0.24978920
Iteration 59, loss = 0.25942628
Iteration 60, loss = 0.24856162
Iteration 61, loss = 0.24348073
Iteration 62, loss = 0.24493991
Iteration 63, loss = 0.24151116
Iteration 64, loss = 0.24620842
Iteration 65, loss = 0.24677446
Iteration 66, loss = 0.23458353
Iteration 67, loss = 0.23820223
Iteration 68, loss = 0.23275357
Iteration 69, loss = 0.23467339
Iteration 70, loss = 0.23064182
Iteration 71, loss = 0.22649680
Iteration 72, loss = 0.22839258
Iteration 73, loss = 0.22477330
Iteration 74, loss = 0.22459340
Iteration 75, loss = 0.23804821
Iteration 76, loss = 0.24273559
Iteration 77, loss = 0.22107502
Iteration 78, loss = 0.22240852
Iteration 79, loss = 0.22192581
Iteration 80, loss = 0.22787315
Iteration 81, loss = 0.21899881
Iteration 82, loss = 0.21228246
Iteration 83, loss = 0.22052751
Iteration 84, loss = 0.21243810
Iteration 85, loss = 0.21770690
Iteration 86, loss = 0.21554175
Iteration 87, loss = 0.21394895
Iteration 88, loss = 0.21055806
Iteration 89, loss = 0.21312084
Iteration 90, loss = 0.21799655
Iteration 91, loss = 0.21530976
Iteration 92, loss = 0.20821117
Iteration 93, loss = 0.20647288
Iteration 94, loss = 0.22901211
Iteration 95, loss = 0.23234746
Iteration 96, loss = 0.21518454
Iteration 97, loss = 0.21131525
Iteration 98, loss = 0.20514432
Iteration 99, loss = 0.20553736
Iteration 100, loss = 0.21193343
Iteration 101, loss = 0.20761470
Iteration 102, loss = 0.20252296
Iteration 103, loss = 0.20707815
Iteration 104, loss = 0.20234287
Iteration 105, loss = 0.20334164
Iteration 106, loss = 0.23038568
Iteration 107, loss = 0.20920337
Iteration 108, loss = 0.20883577
Iteration 109, loss = 0.20866770
Iteration 110, loss = 0.20485998
Iteration 111, loss = 0.20257411
Iteration 112, loss = 0.20865139
Iteration 113, loss = 0.21391123
Iteration 114, loss = 0.20864476
Iteration 115, loss = 0.19962228
Iteration 116, loss = 0.19868578
Iteration 117, loss = 0.21251350
Iteration 118, loss = 0.20940783
Iteration 119, loss = 0.22289413
Iteration 120, loss = 0.20075439
Iteration 121, loss = 0.20133810
Iteration 122, loss = 0.21080243
Iteration 123, loss = 0.20184177
Iteration 124, loss = 0.20340151
Iteration 125, loss = 0.20797108
Iteration 126, loss = 0.19885945
Iteration 127, loss = 0.20463005
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.

MLPClassifier(hidden_layer_sizes=(6, 5), learning_rate_init=0.01,
              random_state=41, verbose=True)

In [16]:
# Predict output
y_pred = clf.predict(X_test)

In [17]:
 from sklearn.metrics import confusion_matrix, accuracy_score, precision_score,recall_score, classification_report
# Confusion Matrix
cm = confusion_matrix(y_test, y_pred)
print("Confusion Matrix: ")
print(cm)
# Accuracy
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy: ", accuracy)
# Error rate
error_rate = 1 - accuracy
print("Error rate: ", error_rate)
# Precision
precision = precision_score(y_test, y_pred, average='macro')
print("Precision: ", precision)
# Recall rate
recall = recall_score(y_test, y_pred, average='macro')
print("Recall rate: ", recall)
# Classification Report
print("Classification Report\n")
print(classification_report(y_test, y_pred))

Confusion Matrix:
[[3242  186]
 [ 171  901]]
Accuracy:  0.9206666666666666
Error rate:  0.07933333333333337
Precision:  0.8893921477245803
Recall rate:  0.8931130157265017
Classification Report

              precision    recall  f1-score   support

           0       0.95      0.95      0.95      3428
           1       0.83      0.84      0.83      1072

    accuracy                           0.92      4500
   macro avg       0.89      0.89      0.89      4500
weighted avg       0.92      0.92      0.92      4500